<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="include/includebase"></head>
<body>

<div class="panel-body" style="padding-bottom:0px;">

    <table id="user-table" style="margin-top: -50px;">
    </table>
</div>
<script th:inline="javascript">
    $(function() {
        initTable();
        $('#user-table').bootstrapTable('hideColumn', 'id');
    });

    function doQuery(){
        $('#user-table').bootstrapTable('refresh');    //刷新表格
    }

    function initTable(){
        $('#user-table').bootstrapTable({
            url:"/user/getUser",
            height: $(window.parent.document).find("#wrapper").height() - 252,
            width:$(window).width(),
            showColumns:true,
            formId :"queryUser",
            pagination : true,
            sortName : 'id',
            sortOrder : 'desc',
            clickToSelect: true,// 单击某一行的时候选中某一条记录
            pageSize : 13,
            toolbars:[
                {
                    text: '修改',
                    iconCls: 'glyphicon glyphicon-pencil',
                    handler: function () {
                        var rows = $('#user-table').bootstrapTable('getSelections');
                        if(rows.length==0||rows.length>1){
                            window.Ewin.alert({message:'请选择一条需要修改的数据!'});
                            return false;
                        }
                        window.Ewin.dialog({title:"修改",url:"user/updatePage1?id="+rows[0].id,width:600,height:595});
                    }
                },
                {
                    text: '注销',
                    iconCls: 'glyphicon glyphicon-remove',
                    handler: function () {
                        var rows = $('#user-table').bootstrapTable('getSelections');
                        if(rows.length==0){
                            window.Ewin.alert({message:'请选择一条需要删除的数据!'});
                            return false;
                        }
                        window.Ewin.confirm({title:'提示',message:'是否要删除您当前所勾选的用户？',width:500}).on(function (e) {
                            if (e) {
                                $.post("user/removeBath",{json:JSON.stringify(rows)},function(e){
                                    if(e.result){
                                        window.Ewin.alert({message:e.msg});
                                        doQuery();
                                    }
                                });
                            }
                        });
                    }
                }
            ],
            columns: [
                {
                    checkbox: true
                },
                {
                    field: '',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    field : 'id',
                    title : '用户流水',
                    align : 'center',
                    valign : 'middle',
                    hide : false,
                    sortable : true
                },
                {
                    field : 'userName',
                    title : '用户姓名',
                    align : 'center',
                    valign : 'middle',
                    sortable : true
                },
                {
                    field : 'login',
                    title : '账号',
                    align : 'center',
                    valign : 'middle',
                    sortable : true
                },
                {
                    field : 'job',
                    title : '职位名称',
                    align : 'center',
                    valign : 'middle',
                    sortable : true
                },
                {
                    field : 'address',
                    title : '用户地址',
                    align : 'center',
                    valign : 'middle',
                    sortable : true
                },
                {
                    field : 'orgGroup.name',
                    title : '组织架构',
                    align : 'center',
                    valign : 'middle',
                    sortable : true
                },
                {
                    field : 'state',
                    title : '账号状态',
                    align : 'center',
                    valign : 'middle',
                    sortable : true,
                    formatter: function (value, row, index) {
                        return getCodeDictText("USER_STATE",value);
                    }
                },{
                    field: 'status',
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        var tag =0;
                        var flag =0;
                        $.ajax({
                            type: "POST",
                            url: "order/roleId",
                            dataType: "json",
                            async:false,
                            success: function (data) {
                                tag = data.data;
                            }
                        })
                        $.ajax({
                            type: "POST",
                            url: "auth/selectByUserId",
                            dataType: "json",
                            async:false,
                            success: function (data) {
                                flag = data.data;
                            }
                        })
                        if(tag == 2 && flag == 0){
                            return '<button  type="button" class="btn btn-primary btn-sm" onclick="becomeVIP(' + row.id + ')" >成为会员</button>'
                        }else if(tag == 2 && flag != 0) {
                            return '<button  type="button" class="btn btn-primary btn-sm" disabled="disabled">审核中</button>'
                        }else{
                            return '<button  type="button" class="btn btn-primary btn-sm" disabled="disabled" >成为会员</button>'
                        }
                    }
                }]
        });
    }
    function becomeVIP(id) {
        $.ajax({
            type: "POST",
            url: "auth/insert",
            dataType: "json",
            success: function (data) {
                alert("申请成功！");
            }
        })
    }
</script>
</body>
</html>