<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="userForm"  role="form" method="post" action="user/save">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <label for="orderMsg">订单信息:</label>
                <textarea  class="form-control" style="height: 400px" name="orderMsg" id="orderMsg" placeholder="请输入订单信息"></textarea>
            </div>
            <div class="form-group">
                <label for="commission">佣金金额:</label>
                <input type="text" class="form-control" name="commission" id="commission"  placeholder="请输入佣金金额" />
            </div>
        </div>
    </div>
</form>
<script th:inline="javascript">
        // 绑定dialog的确定按钮的监听事件
        $("#btnOk",window.top.document).click(function() {
            $.ajax({
                type: "post",
                url: "order/insert",
                data: {"orderMsg":$("#orderMsg").val(),"commission":$("#commission").val()},
                dataType: "json",
                success: function(data){
                    if (data.result){
                        alert("添加成功！");
                        window.location.href("/foodTypeList");
                    }
                }
            });
        })
</script>
</body>
</html>